{% extends "base.html" %}

{% block title %}
  Add Item(s)
{% endblock title %}

{% block content %}

<div class="container mt-5"></div>
<h1>Add item</h1>

<form class="form-container" method="POST">
{% csrf_token %}
{{ itemformset.management_form }}
{% for form in itemformset %}

<div class="card">
    <div class="card-body">

 
<div class="row form-row spacer">
    <div class="col-2">
        <label>{{form.name.label}}</label>
    </div>
    <div class="col-4">
        <div class="input-group item-form">
            {{ form.as_p }}
            <div class="input-group-append"> 
                <button id="add-form" type="button" class="btn btn-success" >+</button>
            </div>
        </div>
    </div>  
</div> 

</div>
</div>

{% endfor %}

<div class="row spacer">
    <div class="col-4 offset-2">
        <button type="submit" class="btn btn-block btn-primary">Create</button>
    </div>
</div>
</form>
{% endblock %}

{% block custom_js %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script type="text/javascript">
    let birdForm = document.querySelectorAll(".item-form")
    let container = document.querySelector("#form-container")
    let addButton = document.querySelector("#add-form")
    let totalForms = document.querySelector("#id_form-TOTAL_FORMS")



    let formNum = birdForm.length-1
    addButton.addEventListener('click', addForm)

    function addForm(e){
        e.preventDefault()

        alert("hellow")
        let newForm = birdForm[0].cloneNode(true)
        let formRegex = RegExp(`form-(\\d){1}-`,'g')

        formNum++
        newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
        container.insertBefore(newForm, addButton)
        
        totalForms.setAttribute('value', `${formNum+1}`)
    }
</script>
{% endblock %}




