{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
  Add Item(s)
{% endblock title %}


{% block content %}

<div class="container mt-5">


<form class="form-horizontal" method="POST" action="">
{% csrf_token %}
{{ formset.management_form }}

<div class="row">
    <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th colspan="4"><center><h3>ADD ITEM FORM</h3></center></th>
          </tr> 
          <tr>
      
              <th scope="col" style="width:70%">Item Name</th>
              <th scope="col" style="width:30%">Quantity</th>
              <th scope="col"></th>
          </tr>
        </thead>
        <tbody class="form-row spacer">
            {% for form in formset %}
            <tr> 
            
              <td>{{ form.code}}</td>
              <td>{{ form.quantity }}</td>
              
              <td><center><button type="button" class="btn btn-success add-form-row">+</button></center></td>
              
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="container text-center">
        <button type="submit" class="btn btn-block btn-primary">SUBMIT</button>
</div>
</form>
</div>

{% include 'inventory/formscript.html' %}

{% endblock %}


