{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
  GET ITEM(s)
{% endblock title %}


{% block content %}

<div class="card card-body mt-5 mb-5 pb-4 shadow fade show">

<div class="container mt-3">

<form class="form-horizontal" method="POST" action="">
{% csrf_token %}
{{ formset.management_form }}

<div class="row">

  <div class="get-item-title"></div><center><h3>GET ITEM FORM</h3></center>
  <p></p>
  {% for identity in formset %}
    {{ identity.staff_name.label_tag }}
    {{ identity.staff_name }}
    <p></p>
    {{ identity.client_name.label_tag }}
    {{ identity.client_name }}
    <p></p>
    {{ identity.department_name.label_tag }}
    {{ identity.department_name }}
  {% endfor %}

    <table class="table table-bordered table-hover mt-4">
        <thead>

          <tr>
      
              <th scope="col" style="width:70%">Item Name</th>
              <th scope="col" style="width:30%">Quantity</th>
              <th scope="col"></th>
          </tr>
        </thead>
        <tbody class="form-row spacer">
            {% for form in formset %}
            <tr> 
            
              <td>{{ form.item_code}}</td>
              <td>{{ form.quantity }}</td>
              
              <td><center><button type="button" class="btn btn-success add-form-row">+</button></center></td>
              
            </tr>
            
            {% endfor %}
            
        </tbody>
    </table>
    
</div>

<button type="submit" class="btn btn-primary">SUBMIT</button>

</form>
</div>
</div>


{% include 'inventory/form_script.html' %}

{% endblock %}


