{% extends 'base.html'  %}

{% block title %}
MyHOME
{% endblock title %}

{% load crispy_forms_tags %}

{% load sorting_tags %}

{% block content %}



<!-- filter option -->

<button class="btn mt-3" id="filterBtn"><i class="fa-solid fa-filter"></i> FILTER</button>

<div class="card card-body mt-3" id="filter-slide">
      <h5>FILTER BY:</h5>
      <form action="" method="get" class="form-control-sm">

          {{ itemFilter.form | crispy }}

          <button class="btn btn-primary" type="submit">SEARCH</button>

      </form>

</div>


<div class="card card-body mt-3">
<table class="table table-bordered table-hover table-striped">
  <center><h3 class="ititles">INVENTORY REPORT</h3></center>
    <thead class="table-primary"> 
      <tr>
        
        <th scope="col">{% anchor item_name _("ITEM NAME") %}</th>
        <th scope="col">{% anchor brand_name _("BRAND NAME") %}</th>
        <th scope="col">{% anchor quantity _("QUANTITY") %}</th>
        <th scope="col">{% anchor uom _("UOM") %}</th>
        <th scope="col">{% anchor date_added _("DATE ADDED") %}</th>
        <th scope="col">{% anchor remarks _("REMARKS") %}</th>
        <th scope="col">{% anchor staff_name _("STAFF NAME") %}</th>
        <th scope="col">{% anchor client_name _("CLIENT NAME") %}</th>
        <th scope="col">{% anchor department_name _("DEPARTMENT NAME") %}</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      
      {% autosort items as sorted_items %}
      {% for item in sorted_items %}
     
      <tr>
        <td>{{ item.item_name }}</td>
        <td>{{ item.brand_name }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.uom }}</td>
        <td>{{ item.date_added }}</td>
        <td>{{ item.remarks }}</td>
        <td>{{ item.staff_name }}</td>
        <td>{{ item.client_name }}</td>
        <td>{{ item.department_name }}</td>
     
       <td>
          {% if item.remarks != 'BEGINNING' %}
          <center>
            <form action="{% url 'delete_item' item.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="delete-btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></button>
            </form> 
          </center>
          {% endif %}
        </td>
      </tr>
      
      {% endfor %}
      
    </tbody>
  </table>
</div>
</div>


{% endblock content %}
