{% extends 'base.html'  %}

{% block title %}
MyHOME
{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}


<!-- sort option -->

<button class="btn btn-success mt-3" id="filterBtn"><i class="fa-solid fa-filter"></i> FILTER</button>

<div class="card card-body mt-3" id="filter-slide">
      <h5>FILTER BY:</h5>
      <form action="" method="get" class="form-control-sm form-inline">

          {{ itemFilter.form | crispy }}

          <button class="btn btn-primary" type="submit">SEARCH</button>

      </form>

</div>




<div class="card card-body mt-3">
<table class="table table-bordered table-hover table-striped">
  <center><h3 class="ititles">INVENTORY REPORT</h3></center>
    <thead class="table-dark"> 
      <tr>
        <th scope="col">ITEM NAME</th>
        <th scope="col">BRAND NAME</th>
        <th scope="col">QUANTITY</th>
        <th scope="col">UOM</th>
        <th scope="col">DATE</th>
        <th scope="col">REMARKS</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>

      {% for item in items %}
      <tr>
        <td>{{ item.item_name }}</td>
        <td>{{ item.brand_name }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.uom }}</td>
        <td>{{ item.date_added }}</td>
        <td>{{ item.remarks }}</td>
        
       <td>
          {% if item.remarks != 'BEGINNING' %}
          <center>
            <form action="{% url 'delete_item' item.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="delete-btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></button>
            </form> 
          </center>
          {% endif %}
        </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>
</div>


{% endblock content %}
