{% extends 'base.html'  %}

{% block title %}
MyHOME
{% endblock title %}


{% block content %}

<h1>Data List</h1>

<table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">Item Description</th>
        <th scope="col">Brand</th>
        <th scope="col">UOM</th>
        <th scope="col">Stocks</th>
        <th scope="col">Date</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>

      {% for item in items %}
      <tr>
        <td>{{ item.item }}</td>
        <td>{{ item.brand_name }}</td>
        <td>{{ item.uom }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.date_added }}</td>
        <td>
          <center>
          <button class="update-btn btn-success btn-sm"><i class="fa-solid fa-pen-to-square"></i></button>
 
          </center>
        </td>
        <td>
          <center>
          <form action="{% url 'delete_item' item.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="delete-btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></button>
          </form>  
          </center>
        </td> w
      </tr>
      {% endfor %}

    </tbody>
  </table>


{% endblock content %}
