{% extends 'base.html'  %}
{% load crispy_forms_tags %}

{% block title %}
  New Item(s)
{% endblock title %}


{% block content %}

  
<div class="card mt-5">
  <div class="container mt-1"><center><h3>NEW ITEM</h3></center></div>
  
  <div class="card-body">

    <div class="container">

      <form action="" method="POST">
        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit" class="btn btn-primary addbtn">Submit</button>
      </form>

    </div>
</div>

</div>


{% endblock content %}