{% extends 'base.html'  %}

{% block title %}
Summary
{% endblock title %}

{% load crispy_forms_tags %}

{% load sorting_tags %}


{% block content %}


<!-- filter option -->

<button class="btn btn-primary mt-3" id="filterBtn"><i class="fa-solid fa-filter"></i> FILTER</button>
<a href="{% url 'export_file_summary' %}"><button class="btn btn-primary mt-3 ms-2"><i class="fa-solid fa-file-export"></i> EXPORT XLS</button></a>

<div class="card card-body mt-3" id="filter-slide">
      <h5>FILTER BY:</h5>
      <form action="" method="get" class="form-control-sm">

          {{ itemFilter.form | crispy }}

          <button class="btn btn-primary" type="submit">SEARCH</button>

      </form>

</div>


<div class="card card-body mt-3">
<table class="table table-bordered table-hover table-striped">
  <center><h3 class="ititles">ITEMS SUMMARY</h3></center>
    <thead class="table-primary">
      <tr>
        <th scope="col">{% anchor item_name _("ITEM NAME") %}</th>
        <th scope="col">{% anchor brand_name _("BRAND NAME") %}</th>
        <th scope="col">{% anchor uom _("UOM") %}</th>
        <th scope="col" class="text-right">{% anchor soh _("SOH") %}</th>
        <th scope="col" class="text-right">{% anchor price _("PRICE") %}</th>
        <th scope="col" class="text-right">{% anchor total_value _("TOTAL VALUE") %}</th>
        <th scope="col">{% anchor date_added _("DATE ADDED") %}</th>
      </tr>
    </thead>
    <tbody>
      {% autosort items as sorted_items %}
      {% for item in sorted_items %}
      <tr>
        <td>{{ item.item_name }}</td>
        <td>{{ item.brand_name }}</td>
        <td>{{ item.uom }}</td>
        <td class="item_soh text-right">{{ item.soh }}</td>
        <td class="text-right">{{ item.price }}</td>
        <td class="text-right">{{ item.total_value }}</td>
        <td>{{ item.date_added }}</td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>
</div>

{% endblock content %}


