{% extends 'base.html'  %}

{% block title %}
Summary
{% endblock title %}


{% block content %}

<div class="container mt-5">
<h1>Stock Logs</h1>

<table class="table table-bordered table-hover table-striped">
    <thead class="table-dark">
      <tr>
        <th scope="col">ITEM NAME</th>
        <th scope="col">BRAND</th>
        <th scope="col">SOH</th>
        <th scope="col">PRICE</th>
        <th scope="col">TOTAL VALUE</th>
      </tr>
    </thead>
    <tbody>

      {% for item in items %}
      <tr>
        <td>{{ item.item_name }}</td>
        <td>{{ item.brand_name }}</td>
        <td>{{ item.soh }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.totalValue }}</td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>


{% endblock content %}