.table td.fit, 
.table th.fit {
   white-space: nowrap;
   width: 1%;
}


.btn-message-alert{
   float: right
}

/* User greetings */
#hi-name{
   color: white;
   padding-top: 7px;
   padding-left: 12px;
   padding-right: 10px;
}

body{
   background-color: #ebeff5;
}

 /* For right align */
.text-right {
   text-align: right
}

 /* For right align */
.text-center {
   text-align: center
} *

.myfooter{ align-content: center; } /* one-line vertical centering */
